@import "bootstrap";
@import "font-awesome";
@font-face {
  font-family: 'AvenirNext-regular';
  src: font-url('AvenirNext-Regular.ttf');
}

$purple: #4D004D;
$dark-green: #093f35;
$light-red: #F2DEDE;
$light-green: #DFF0D8;

body {
  font-family: 'AvenirNext-regular';
  font-size: 35px;
  // overflow-y: scroll;
  position: relative;
}

a {
  color: inherit;
}

a:hover {
  color: $purple;
  text-decoration: none;
}

h1 {
  font-size: 65px;
}

img {
  width: 100%;
}

p {
  font-size: 23px;
}

ul {
  list-style: none;
}

/*--------------------------------------------------*/
/*                 Generals                         */
/*--------------------------------------------------*/

// .custom-container {
//   margin-top: 130px;
// }

.swiper-container {
  height: 500px;
  // margin-top: 50px;
  width: 800px;
  .swiper-pagination {
    z-index: 999999;
  }
}

/*--------------------------------------------------*/
/*                  Helpers                         */
/*--------------------------------------------------*/

.add-button {
  border: 1px dashed $dark-green;
  height: 100px;
  padding: 40px;
  width: 300px;
}
.add-button:hover {
  background-color: #fff;
  border: 1px solid $dark-green;
}

.background {
  background-repeat: no-repeat;
  background-size: 150%;
}

.box {
  border: 1px dashed $dark-green;
  padding-bottom: 0px;
  padding-top: 20px;
  // width: 100%;
}

.box-green {
  background-color: $light-green;
}

.box-red {
  background-color: $light-red;
}

.btn-custom {
  background-color: white;
  border: 1px solid #000;
  color: #000;
  font-size: 18px;
  padding: 8px 20px;
}

.btn-outline-info {
  border-color: $purple;
  color: $purple;
}
.btn-outline-info:hover {
  background-color: $purple;
  border-color: $purple;
}

.btn-outline-success {
  border-color: $dark-green;
  color: $dark-green;
}
.btn-outline-success:hover {
  background-color: $dark-green;
  border-color: $dark-green;
}

.collections-img-wrapper {
  border: 15px solid #fff;
  position: relative;
  width: 220px;
  -webkit-box-shadow: 7px 7px 15px 0px rgba(143,140,143,1);
  -moz-box-shadow: 7px 7px 15px 0px rgba(143,140,143,1);
  box-shadow: 7px 7px 15px 0px rgba(143,140,143,1);
  .collections-img-mask {
    background-color: rgba(255, 255, 255, 0);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
  .collection-name {
    bottom: 0;
    height: 30px;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}
// .collections-img-wrapper:hover {
//   .collections-img-mask {
//     background-color: rgba(255, 255, 255, 0.5);
//   }
// }

.custom-container {
	position: relative;
	z-index: 3;
}

.full-height {
  height: 85vh;
}

.marginBottom50 {
  margin-bottom: 50px;
}

.marginBottom100 {
  margin-bottom: 100px;
}

.marginTop50 {
  margin-top: 50px;
}

.marginTop100 {
  margin-top: 100px;
}

.notice {
  position: relative;
  z-index: 999999;
}

.paddingTop150 {
  padding-top: 150px;
}

.parallax-bg, .parallax-bg-2 {
	// background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: absolute;
	width: 100vw;
	z-index: 2;
}

.video {
  border: none;
  height: 450px;
  width: 100%;
}

/*--------------------------------------------------*/
/*                  Navigation                      */
/*--------------------------------------------------*/

nav {
  background-color: #fff !important;
  height: 130px;
  -webkit-box-shadow: 0px 10px 22px -1px rgba(143,141,143,0.5);
  -moz-box-shadow: 0px 10px 22px -1px rgba(143,141,143,0.5);
  box-shadow: 0px 10px 22px -1px rgba(143,141,143,0.5);
  .navbar-brand, .navbar-nav {
    // background: orange;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 10px;
    width: 500px;
  }
  .navbar-nav {
    // background: green;
    font-size: 27px;
    top: 80px;
    width: 550px;
    .nav-item.nav-link:hover {
      color: $purple;
    }
  }
  .social-icon-wrapper {
    position: relative;
    top: 40px;
    width: 180px;
    .social-link {
      float: left;
      margin-left: 20px;
    }
  }
}

/*--------------------------------------------------*/
/*                      Home                        */
/*--------------------------------------------------*/

#home {
  background-image: image-url('background-1.jpg');
  // padding-top: 130px;

}

/*--------------------------------------------------*/
/*                  Collections                     */
/*--------------------------------------------------*/

#collections {
  background-image: image-url('background-2.png');
  h1 {
    margin-top: 200px;
  }
}

/*--------------------------------------------------*/
/*                    About                         */
/*--------------------------------------------------*/

#about {
  background-image: image-url('background-3.png');
  h1 {
    margin-top: 350px;
  }
  .img-profile {
    margin-top: 150px;
    width: 80%;
  }
}

/*--------------------------------------------------*/
/*                    Contact                       */
/*--------------------------------------------------*/

#contact {
  background-image: image-url('background-2.png');
  background-position: right top;
  line-height: 48px;
  h1 {
    margin-top: 250px;
  }
  form {
    margin-bottom: 100px;
    .dot-wrapper {
      position: relative;
      .dot {
        position: absolute;
        bottom: -15px;
      }
    }
    .form-input {
      border: none;
      border-bottom: 1px dashed #505050;
      border-radius: 0%;
      color: rgba(26,2,37, 0.5);
      display: inline-block;
      outline: none;
      text-align: center;
    }
    .form-submit {
      background: none;
      border: none;
      font-size: 50px;
      margin-top: 100px;
    }
    .form-submit:hover {
      color: $purple;
      cursor: pointer;
    }
    .form-textarea {
      height: 55px;
      position: relative;
      resize: none;
      top: 30px;
      width: 90%;
    }
  }

// .field_with_errors {
//   input {
//     border-bottom: 1px solid #b30000 ;
//   }
// }
//
// .error {
//   font-size: 20px;
//   color: #b30000;
// }
//
// .alert {
//   height: 20px;
//   padding-bottom: -18px;
//   background-color: white;
//   border: none;
// }
}

/*--------------------------------------------------*/
/*                    Footer                        */
/*--------------------------------------------------*/

footer {
  background-color: #878787;
  color: #fff;
  height: 70px;
  position: relative;
  p {
    // background: green;
    bottom: 0;
    height: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
  }
}

/*--------------------------------------------------*/
/*                Inter Sections                    */
/*--------------------------------------------------*/

.inter-section-1 {
  height: 400px;
  .parallax-bg-2 {
    background-image: image-url('photo-profil.jpg');

  }
}

.inter-section-2 {
  height: 400px;
  .parallax-bg-2 {
    background-image: image-url('Sunset-NewYork.jpg');

  }
}

/*--------------------------------------------------*/
/*                    Admin                         */
/*--------------------------------------------------*/

#admin {
  $sidebar-width: 200px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 18px;
  nav {
    border-bottom: 1px solid black;
    .navbar-nav {
      // background: green;
      width: 230px;
    }
  }
  table {
    th {
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      border-top: 1px solid rgba(0, 0, 0, 0.5);
      text-align: center;
    }
    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      border-top: 1px solid rgba(0, 0, 0, 0.5);
      vertical-align: middle;
    }
    .drag-handle {
      background-color: #fff;
    }
  }
  .admin-side-bar {
    background: #fff;
    border-right: 1px solid #000;
    height: 100vh;
    position: fixed;
    width: $sidebar-width;
    ul {
      padding: 0;
      position: relative;
      top: 30%;
      li {
        padding: 0 !important;
        a {
          border: 1px dashed $dark-green;
          border-left: none;
          border-right: none;
          display: block;
          padding-bottom: 15px;
          padding-left: 10px;
          padding-top: 15px;
          width: 100%;
        }
        a:hover {
          background-color: $dark-green;
          border: 1px solid #000;
          color: #fff;
        }
      }
    }
  }
  .container {
    margin-top: 130px;
  }
  .current-status {
    font-size: 12px;
  }
  .custom-container-admin {
    padding-left: $sidebar-width;
  }
  .form-check {
    input {
      margin-left: 20px;
    }
    label {
      margin-left: 5px;
    }
  }
  .form-img {
    width: 300px;
    margin-bottom: 30px;
  }
  .image-thumb-drag {
		width: 15px;
	}
	.image-thumb-handle {
		width: 35px;
	}
  .upload-btn-wrapper {
    display: inline-block;
    margin-bottom: 50px;
    overflow: hidden;
    position: relative;
  }
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
  }
  .visibility-link {
    text-decoration: underline;
  }
  #collection-index {

  }
}

/*--------------------------------------------------*/
/*                    Devise                        */
/*--------------------------------------------------*/

#devise {
  font-size: 20px;
  h1 {
    margin-top: 200px;
  }
}
